<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="https://clovertech.pkgs.visualstudio.com/_packaging/Clover-Common-NuGet/nuget/v3/index.json" />
    <add key="dependencyVersion" value="Highest" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Clover-Common-NuGet" value="https://clovertech.pkgs.visualstudio.com/_packaging/Clover-Common-NuGet/nuget/v3/index.json" />
  </packageSources>
</configuration>